/*Fonts*/
@font-face {
    font-family: uni;
    src: url(assets/unisans.otf) format("opentype");
}

@font-face {
    font-family: uniheavy;
    src: url(assets/unisansheavy.otf) format("opentype");
}

@font-face {
    font-family: roboto;
    src: url(assets/robotolight.ttf) format("truetype");
}

#map {
    height: 400px;
    width: 100%;
   }

.nav-image{
    height: 300px;
    background-image: url('./assets/nav.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000; 
    position: relative;
}

.nav-content{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.img-logo{
    width: 190px;
    height: 190px;
}

.img-logo-rodape{
    width: 100px;
    height: 100px;
}

.text-rodape{
    font-family: uni;
    font-size: 13px;
}

.navbar{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
    float: right;
}

.banner{
    background-image: url('./assets/carn.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999; 
    margin-top: -300px; 
    position: relative;
    overflow: hidden;
}

.banner-img{
    float: right;
    margin-top: 220px;
    margin-right: -60px;
    width: 80%;
    height: 60%;
    background-image: url("./assets/title.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre{
    background-color: #87027B;
    color: #fff;
}

.card{
    background-color: #87027B;
}

.convidados{
    background-color: #FFBB00;
    color: #fff;
}

.img-inviters{
    border-radius: 30px;
    overflow: hidden;
}

.ingressos{
    background-image: url('./assets/head-ingressos.svg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff
}

.maps{
    background-image: url('./assets/head-map.svg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: #FFBB00;
    color: #fff
}

.rodape{
    background-color: #21091F;
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff
}

.margin{
    padding: 10rem;
}

.btn-comprar{
    margin-top: -5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFBB00;
    color: #87027B;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-left: 30px;
}

.btn-sympla{
    margin-top: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #87027B;
    color: #FFBB00;
    border: 1px solid transparent;
    border-radius: 20px;
}
/*
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 667px) 
{
    .img-logo{
        width: 200px;
        height: 200px;
        margin-left: 40px;
    }

    .row{
        display: block;
    }

    .nav-image{
        width: 100%;
        height: 400px;
        background-image: url('./assets/nav-resp.svg');
        background-repeat: no-repeat;
        background-size: initial;
    }

    .margin{
        padding-left: 0; 
        padding-right: 0;
        height: auto;
        font-size: 2rem;
    }

    .card{
        width: 100%;
    }
}*/

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 667px) 
{
    .img-logo{
        width: 100px;
        height: 100px;
    }
    .nav-image{
        width: 100%;
        height: 400px;
        background-image: url('./assets/nav-resp.svg');
        background-repeat: no-repeat;
        background-size: initial;
    }
    .margin {
        padding: 1.5rem;
    }
    .banner {
        background-image: url(./assets/carn.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 999;
        margin-top: -25rem;
        position: relative;
        overflow: hidden;
        height: auto;
    }
    .banner-img{
        float: right;
        margin-top: 250px;
        margin-right: 0;
        width: 100%;
        height: 100%;
        background-image: url("./assets/title-resp.svg");
        background-repeat: no-repeat;
        background-size: auto;
    }
}